<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.2.1" targetFramework="net45" />
  <package id="angular-local-storage.TypeScript.DefinitelyTyped" version="2.0.6" targetFramework="net45" />
  <package id="angular-ui-bootstrap.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="jquery.timer.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.2" targetFramework="net45" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.3.6" targetFramework="net45" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.7.6" targetFramework="net45" />
</packages>