<section layout="row" flex>    
    <md-sidenav class="md-sidenav-left md-whiteframe-dp1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content>
            <h3>Lessons</h3>
            <section layout="column" layout-align="center center" layout-wrap>
                <md-button ng-click="MenuCtrl.loadLesson(lesson.id)" id="LessonId{{lesson.id}}" ng-repeat="lesson in MenuCtrl.lessons | orderBy: 'id'">
                    {{lesson.name}}
                </md-button>
            </section>
            <md-divider ng-if="!$last"></md-divider>
        </md-content>
    </md-sidenav>
</section>