<!--<div id="lesson_container">
    <h1 id="lesson_title">{{typewriting.lesson.getName()}}</h1>

    <p id="lesson_text">{{typewriting.lesson.getText()}}</p>

    <timer ng-model="typewriting.time" ng-hide="true"></timer>

    <form name="typingForm">
        <textarea name="typedText" ui-event="{'keypress' : 'typewriting.keypressHandling($event)'}"
                  autofocus ng-model="typewriting.typedText" ng-disabled="typewriting.getIsDisabled()" ng-trim="false" ng-paste="$event.preventDefault()"/>
    </form>

   

    <div ng-hide="!typewriting.getIsDisabled()" id="lesson_result">
        <table class="table table-condensed table-striped">
            <caption>Congratulation you have completed this lesson with the following statistic:</caption>
            <tbody>
            <tr>
                <th>Correct keypress: </th>
                <td>{{LessonCtrl.statistic.getNofCorrectKeyPresses()}}</td>
            </tr>
            <tr>
                <th>Incorrect keypress: </th>
                <td>{{LessonCtrl.statistic.getNofMistakes()}}</td>
            </tr>
            <tr>
                <th>Total keypress: </th>
                <td>{{LessonCtrl.statistic.getNofMistakes()--typewriting.lesson.getStatistic().getNofCorrectKeyPresses()}}</td>
            </tr>
            <tr>
                <th>Accuracy: </th>
                <td>{{LessonCtrl.statistic.getAccuracy() | number:2}}%</td>
            </tr>
            <tr>
                <th>Typing speed: </th>
                <td>{{LessonCtrl.statistic.getTypingSpeed() | number:2}} keypress / minute</td>
            </tr>
            <tr>
                <th>Duration: </th>
                <td>{{LessonCtrl.statistic.getTimeInSeconds() | number:2}} seconds</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>-->

<div layout="row" layout-wrap>
    <side-menu></side-menu>
    <div id="LessonContainer" flex="50">
        <h1 id="LessonTitle">{{LessonCtrl.lesson.name}}</h1>

        <div id="LessonText">
            <p><span style="color:red">{{LessonCtrl.typedText}}</span>{{LessonCtrl.textToBeType}}</p>
        </div>
        <timer ng-hide="true"></timer>

        <md-input-container flex>
            <label for="typedText">Typed text</label>
            <textarea name="typedText" id="typedText" ng-paste="$event.preventDefault()" ng-disabled="LessonCtrl.textareaIsDisabled" autofocus="" ng-model="LessonCtrl.typedText" columns="1" ng-trim="false" ng-keypress="LessonCtrl.keyPressHandler($event)"></textarea>
        </md-input-container>

        <lesson-result ng-hide="LessonCtrl.resultIsHidden"></lesson-result>

    </div>
</div>