<div layout="row">
    <side-menu></side-menu>
    <section layout="column" flex="60">
        <h1 class="md-display-3">Register</h1>
        <md-content>
            <form name="RegForm">

                <!-- Username -->
                <md-input-container>
                    <label for="userName">User Name</label>
                    <input required type="text" name="userName" id="userName" ng-model="RegCtrl.userName" ng-minlength="4" md-maxlength="15" pattern="[A-za-z0-9]*" />
                    <div ng-messages="RegForm.userName.$error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="minlength">The name has to be at least 4 characters long.</div>
                        <div ng-message="maxlength">The name has to be less then 15 characters long.</div>
                        <div ng-message="pattern">The name can contain only letters from the english alphabet and numbers</div>
                    </div>
                </md-input-container>

                <!-- E-mail address -->
                <md-input-container>
                    <label>E-mail Address</label>
                    <input required type="email" name="mailAddr" ng-model="RegCtrl.mailAddr"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="RegForm.mailAddr.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>

                <!-- Password -->
                <md-input-container>
                    <label>Password</label>
                    <input required type="password" name="password" ng-model="RegCtrl.password"
                           minlength="8" md-maxlength="16" pattern="[A-za-z0-9]*" />
                    <div ng-messages="RegForm.password.$error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="minlength">The password has to be at least 8 characters long.</div>
                        <div ng-message="maxlength">The password has to be less then 16 characters long.</div>
                        <div ng-message="pattern">The password can contain only letters from the english alphabet and numbers</div>
                    </div>
                </md-input-container>

                <!-- Register Button -->
                <md-content>
                    <md-button class="md-raised">Register</md-button>
                </md-content>
            </form>
        </md-content>
    </section>
</div>
